p{
    font-family: 'Dosis', sans-serif;
    margin: 0 auto;
}
.backgr{
    background: #ffffff url("images/Tokyo_backgr.png") no-repeat;
    margin-left: 23%;
    height:650px;
    width: 800px;
}
.widget{
    font-family: 'Dosis', sans-serif;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 5px;
    height: 67%;
    width: 70%;
    margin-top: 10%;
    margin-right: 15%;
}
.position_parent{
    position: relative;
}
.box_position{
    position: absolute;
    top:0;
    right:0;
}
.box_position_text{
    position: absolute;
    left: 0;
    right: 0;
}

.left_box{
    color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background: #ffffff url("images/Tokyo_weather_sun.png") no-repeat;
    height: 100%;
    float: left;
    width: 50%;
}
.weather_img{
    background-repeat: no-repeat;
    background-position: center;
}
.sky{
    height: 55%;
    background-image: url("images/sunny.png");

}
.description{
    background-color: rgba(20, 1, 0, 0.85);
    width: 100%;
    height: 22%;
}
.description_text{
    font-size: 35px;
    top: 25%;
}
.date_text{
    top: 35%;
    font-size: 22px;
}
.date{
    background-color: rgba(125, 0, 10, 0.85);
    width: 100%;
    height: 23%;
}
.vertical_line{
    float: left;
    height: 100%;
    width: 6%;
}
.right_box{
    color: rgb(119, 25, 33);
    float: left;
    height: 100%;
    width: 38%;
}
.temp{
    background-color: white;
    height: 33%;
    width: 100%;
}
.temp_text{
    top: 7%;
    font-size: 101px;
}
.graph{
    border-bottom: #771921 1px solid;
    border-top: #771921 1px solid;
    height: 22%;
    width: 100%;
}
.vertical_line_s{
    float: left;
    height: 45%;
    width: 12.5%;
}
.img_next{
    margin-top: 50%;
}
.next_day{
    float: left;
    height: 45%;
    width: 25%;
}
.next_day_weather{
    border-bottom: 1px solid #771921;
    height: 58%;
}
.next_day_text{
    margin-top: 20%;
}
.last_temp{
    margin-top: 9%;
    color: black;
}

