.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

#weather-widget {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 696px;
  height: 435px;
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
  line-height: 1;
  color: white;
}

#weather-widget * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#weather-widget #main-part {
  position: relative;
  height: 327px;
  padding: 67px 57px 0;
  background-color: burlywood;
}

/* ======================================== */
/*  Current day                             */
/* ======================================== */
#weather-widget #current-day {
  float: right;
  margin: 0 26px 0 0;
}

#weather-widget #current-day-of-week {
  margin-top: 2px;
  font-size: 30px;
  letter-spacing: 0.02em;
}

#weather-widget #current-date {
  font-size: 14px;
}

/* ======================================== */
/*  Current weather                         */
/* ======================================== */
#weather-widget #current-weather {
  float: right;
}

#weather-widget #current-temp {
  margin: 0 0 1px 0;
  font-size: 92px;
  font-weight: 900;
}

#weather-widget #current-place {
  margin: 0 0 20px 4px;
  font-size: 22px;
  letter-spacing: 0.02em;
}

#weather-widget #current-wind {
  margin: 0 0 0 4px;
  font-weight: 700;
}

#weather-widget #current-wind #wind-icon {
  display: inline-block;
  vertical-align: bottom;
  width: 43px;
  height: 27px;
  margin: 1px 12px 2px 0;
  background: no-repeat url("../img/icon_wind.png");
}

#weather-widget #wind-speed {
  display: inline-block;
  margin-right: 4px;
  font-size: 30px;
}

#weather-widget #wind-unit {
  display: inline-block;
  font-size: 14px;
}

/* ======================================== */
/*  Carousel. Weather forecast              */
/* ======================================== */
#weather-widget #carousel {
  height: 108px;
  width: 696px;
  text-align: center;
  padding: 0 56px;
  background-color: gray;
}

#weather-widget .nav-arrows {
  display: inline-block;
  width: 16px;
  height: 108px;
  cursor: pointer;
}

#weather-widget #arrow-left {
  float: left;
  background: center no-repeat url("../img/icon_arrow_left.png");
}

#weather-widget #arrow-right {
  float: right;
  background: center no-repeat url("../img/icon_arrow_right.png");
}

#weather-widget .divider {
  display: inline-block;
  width: 0;
  height: 80px;
  margin: 14px 0;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

#weather-widget #forecast-container,
#weather-widget #forecast-container > * {
  display: inline-block;
  vertical-align: top;
}

#weather-widget .day-of-week {
  padding: 10px 24px 0;
}

#weather-widget .temperature {
  padding: 0 0 0 8px;
}

#weather-widget .weather-icons {
  width: 48px;
  height: 36px;
  margin: 8px auto;
}

#weather-widget #rain-icon {
  background: url("../img/icon_weather_rain.png");
}

#weather-widget #cloudy-icon {
  background: url("../img/icon_weather_cloudy.png");
}

#weather-widget #sunny-icon {
  background: url("../img/icon_weather_sunny.png");
}

#weather-widget #overcast-icon  {
  background: url("../img/icon_weather_overcast.png");
}