@import "_variablesForWW";
@font-face {
    font-family: $FONTF;
    src: $FONTFURL format("opentype");
}

@mixin bcAndTs ($color, $tscolor, $tsSize: $SHODOWSIZE, $transparency:$SHODOWTRANSPARENCY) {
    background-color: $color;
    text-shadow: $tsSize rgba($tscolor, $transparency);
}

.weatherWidget {
    font-family: $FONTF;
    font-size: $FONTSMEDIUM;
    line-height: $LINEH;
    font-weight: bold;
    text-transform: uppercase;
    color: $WHITE;
    height: $HEIGHTWW;
    width: $WIDTHWW;
    display: flex;
    flex-flow: row wrap;
    box-shadow: $BOXSHADOWWW;
    position: absolute;
    margin: auto;
    top: $TOPWW;
    right: $RIGHTWW;
    bottom: $BOTTOMWW;
    left: $LEFTWW;
    .block {
        height: $HEIGHTBLOCK;
        width: $WIDTHBLOCK;
        box-shadow: $BOXSHADOWBLOCK;
        display: flex;
        align-items: center;
        align-content: space-between;
        flex-direction: column;
        justify-content: center;
        &.first {
            @include bcAndTs ($CYAN, $CYANFORSHODOW);
        }
        &.second {
            @include bcAndTs ($GREENCYAN, $GREENCYANFORSHODOW);
        }
        &.third {
            @include bcAndTs ($BLUEMAGENTA, $BLUEMAGENTAFORSHODOW);
        }
        &.fourth {
            @include bcAndTs ($YELLOW, $YELLOWFORSHODOW);
        }
        &.fifth {
            @include bcAndTs ($PINK, $PINKFORSHODOW);
        }
        &.sixth {
            @include bcAndTs ($MAGENTA, $MAGENTAFORSHODOW);
        }
        .weather {
            height: $HEIGHTPICTURE;
            display: flex;
            align-items: center;
        }
        .forecast {
            margin: $MARGINP;
        }
    }
}

.inWeek {
    background-color: $DARKPINK;
    display: flex;
    justify-content: space-around;
    height: $HEIGHTUL;
    width: $WIDTHUL;
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: $FONTSSMALL;
        padding-top: $PADDINGTOPLI;
        padding-bottom: $PADDINGBOTTOMLI;
        &:first-child {
            padding-left: $PADDINGLEFTRIGHTLI;
        }
        &:last-child {
            padding-right: $PADDINGLEFTRIGHTLI;
        }
    }
}